server {
    bind_address = "@ROOT_SPIRE_BIND_ADDRESS@"
    bind_port = "@ROOT_SPIRE_PORT@"

    socket_path = "@TRUSTED_ROOT_SERVER_SOCKET@"

    trust_domain = "@TRUST_DOMAIN@"
    data_dir = "@TRUSTED_ROOT_SERVER_DATA_DIR@"
    log_level = "DEBUG"

    ca_ttl = "24h"
    default_x509_svid_ttl = "1h"
    default_jwt_svid_ttl = "5m"
}

plugins {
    DataStore "sql" {
        plugin_data {
            database_type = "sqlite3"
            connection_string = "@TRUSTED_ROOT_SERVER_DATA_DIR@/datastore.sqlite3"
        }
    }

    NodeAttestor "join_token" {
        plugin_data {}
    }

    KeyManager "disk" {
        plugin_data {
            keys_path = "@TRUSTED_ROOT_SERVER_DATA_DIR@/keys.json"
        }
    }
}
