[Unit]
Description=PGID Nested Authority core services
Documentation=file:/opt/spire-demo/authority/docs/nested-openstack.md
Requires=spire-agent-upstream.service spire-server-authority.service spire-agent-authority.service
After=network-online.target spire-agent-upstream.service spire-server-authority.service spire-agent-authority.service
Wants=network-online.target

[Install]
WantedBy=multi-user.target
